.createlead{
    flex: 24;
}

.createtopbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 1px 0px 10px -1px rgba(0,0,0,1);
-webkit-box-shadow: 1px 0px 10px -1px rgba(0,0,0,1);
-moz-box-shadow: 1px 0px 10px -1px rgba(0,0,0,1); */
}

.createtitle{
    font-size: 25px;
    /* border: 1px solid red; */
    margin: 10px;
    padding: 10px;
    font-weight: 600;
    color: brown;
}

.createbutton{
    font-size: 20px;
    align-items: center;
    margin: 30px;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 600;
    background-color: rgb(114, 114, 161);
    color: white;
    border-radius: 10px;
    box-shadow: 1px 0px 10px -1px rgba(0,0,0,1);
-webkit-box-shadow: 1px 0px 10px -1px rgba(0,0,0,1);
-moz-box-shadow: 1px 0px 10px -1px rgba(0,0,0,1);
}

.createbutton:hover{
    background-color: rgb(77, 77, 138);
}

.horline{
    margin: 0px 20px;
    color: gray;
}

.createleadform{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.leadinfoform{
    margin-left: 30px;
    font-size: 20px;
    padding: 10px 0px;
}

.newleaditem{
    display: flex;
    width: 500px;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 30px;
}

.newleaditem>label{
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    color: gray;
}

.newleaditem>input{
    height: 17px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.newleaditem>select{
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}