.analyticslinechart{
    margin: 20px;
    padding: 20px;
    /* background-color: rgb(211, 176, 182); */
    box-shadow: 1px 0px 10px -1px rgba(0,0,0,1);
-webkit-box-shadow: 1px 0px 10px -1px rgba(0,0,0,1);
-moz-box-shadow: 1px 0px 10px -1px rgba(0,0,0,1);
}

.linecharttitle{
    margin-bottom: 20px;
}

.charthead{
    display: flex;
    justify-content: space-between;
}

.selectlable{
    margin-right: 10px;
}